.profile {
  @include font-open-sans();
  background-color: map-get($colors, _grey);
  height: 100%;

  .searchbox {
    display: inline-block;
    margin-left: map-get($sizes, gutter) * .8;
    width: map-get($sizes, gutter) * 30;
    vertical-align: top;

    i {
      top: 5px;
    }

    input {
      padding-bottom: 2px;
    }
  }

  .profile-details {
    float: left;
    font-size: 13px;
    padding: (map-get($sizes, gutter) * 1.5);
    width: 25%;

    h1 {
      @include font-size(20);
      @include font-open-sans();
      border-bottom: 1px solid map-get($colors, grey-border-1);
      font-weight: 400;
      margin: 0;
      margin-bottom: map-get($sizes, gutter);
      padding-bottom: map-get($sizes, gutter);
      padding-left: 0;
      padding-top: 0;
      width: 100%;
    }

    h3 {
      @include font-size(13);
      color: map-get($colors, grey-text-2);
      margin-bottom: map-get($sizes, gutter) * .35;
    }

    ul {
      border-bottom: 1px solid map-get($colors, grey-border-1);
      margin-bottom: (map-get($sizes, gutter) * 1.2);

      li {
        color: map-get($colors, grey-text-2);
        line-height: map-get($sizes, gutter);
        margin-bottom: map-get($sizes, gutter) * .7;

        label {
          display: inline-block;
          width: 100%;

          &.title {
            color: map-get($colors, grey-text-1);
          }
        }
      }

    }
    .link {
      @include font-size(14);
      font-weight: 400;
    }
  }

  .profile-tabs {
    background-color: map-get($colors, _grey);
    display: inline-block;
    width: 75%;
    padding: map-get($sizes, gutter) (map-get($sizes, gutter) * 1.5) (map-get($sizes, gutter) * 1.5) 0;

    .profile-tabs--content {

    }
  }
}
