$colors: (
  _green: #40bd6e,
  _red: #ed655c,
  _blue: #4688f1,
  _yellow: #f8cd5e,
  _grey: #fbfbfb,
  _white: #ffffff,
  grey-border-1: #ebebeb,
  grey-border-2: #dcdcdc,
  grey-text-1: #555555,
  grey-text-2: #b7b7b7,
);

$sizes: (
  gutter: 20px,
  radius: 2px,
  button-height-1: 36px,
  button-height-2: 44px,
);

$font-families: (
  open-sans: 'Open Sans',
  montserrat: 'Montserrat'
);

$font-styles: (
  base-font-size: 16,
  base-line-height: 24,
);
