.button,
%button {
  @include border-radius();
  @include font-size(14);
  background-color: map-get($colors, _grey);
  border: 1px solid map-get($colors, grey-border-2);
  color: map-get($colors, grey-text-1);
  display: inline-block;
  max-height: map-get($sizes, button-height-1);
  line-height: normal;
  padding: (map-get($sizes, gutter) * .3) map-get($sizes, gutter) (map-get($sizes, gutter) * .5);
  text-decoration: none;

  &:hover {
    background-color: map-get($colors, grey-border);
    color: map-get($colors, grey-text-1);
    text-decoration: none;
  }

  &:active {
    background-color: map-get($colors, grey-border);
    color: map-get($colors, grey-text-1);
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &.disabled {
    @include opacity(.25);
    cursor: not-allowed;
    pointer-events: none;
  }
}

.button-big {
  height: map-get($sizes, button-height-2);
  max-height: none;
}

.button-green {
  background-color: map-get($colors, _green);
  border: 1px solid map-get($colors, _green);
  color: map-get($colors, _white);
  font-weight: normal;

  &:hover {
    background-color: map-get($colors, _green);
    color: map-get($colors, _white);
  }

  &:active {
    background-color: map-get($colors, _green);
    color: map-get($colors, _white);
  }

  &.disabled {
    @include opacity(.4);
  }
}

.button-transparent {
  background-color: transparent;;
  border: 0;
}

.button-blue {
  background-color: map-get($colors, _blue);
  border: 1px solid map-get($colors, _blue);
  color: map-get($colors, _white);
  font-weight: normal;

  &:hover {
    background-color: map-get($colors, _blue);
    color: map-get($colors, _white);
  }

  &:active {
    background-color: map-get($colors, _blue);
    color: map-get($colors, _white);
  }

  &.disabled {
    @include opacity(.4);
  }
}
