header {
  background-color: map-get($colors, _grey);
  border-bottom: 1px solid map-get($colors, grey-border-1);
  max-height: 55px;
  padding: (map-get($sizes, gutter) * .5);

  .searchbox .searchbox-input {
    width: 100%;

    input {
      @include border-radius();
      @include font-size(13);
      height: 35px;
    }
  }

  .searchbox .button-search {
    display: none;
  }

  .pull-right {
    .button {
      margin-left: 10px;
    }
  }
}

h1 {
  display: inline-block;
  padding: (map-get($sizes, gutter) * .15) 0 (map-get($sizes, gutter) * .25) map-get($sizes, gutter);

  span {
    &:first-child {
      display: inline-block;
      margin-right: 5px;
    }
  }
}
