.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.modal-content {
  @include border-radius(4px);
  background-color: map-get($colors, _white);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
}

.close-button {
  @include font-size(20);
  position: absolute;
  top: 10px;
  right: 15px;
  color: map-get($colors, grey-text-3);
}

.modal-login {
  width: 420px;

  .modal-header {
    text-align: center;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 35px;

    p {
      @include font-size(16);
      margin-bottom: 0;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -45px;
      right: -45px;
      height: 1px;
      background-color: map-get($colors, grey-border-1);
    }
  }

  .form-body {
    .link {
      @include font-size(14);
      margin-top: 10px;
    }
  }

  .form-footer {
    padding-bottom: 20px;
  }
}
