.nav-tabs {
  background-color: map-get($colors, _grey);
  height: 55px;
  width: 100%;

  li {
    display: inline-block;
    height: 100%;

    &.active  {
      a {
        background-color: map-get($colors, _white);
        border-left: 1px solid map-get($colors, grey-border-1);
        border-right: 1px solid map-get($colors, grey-border-1);
        border-top: 2px solid map-get($colors, _blue);
        color: map-get($colors, grey-text-1);
      }
    }

    a {
      @include font-size(14);
      color: map-get($colors, grey-text-2);
      float: left;
      height: 56px;
      line-height: 56px;
      padding: 0 map-get($sizes, gutter) * 1.5;
      text-decoration: none;
    }
  }
}

.tab-content {
  background-color: map-get($colors, _white);
  border-bottom: 1px solid map-get($colors, grey-border-1);
  border-left: 1px solid map-get($colors, grey-border-1);
  border-right: 1px solid map-get($colors, grey-border-1);
  border-top: 1px solid map-get($colors, grey-border-1);
  min-height: map-get($sizes, gutter) * 40;
  padding: map-get($sizes, gutter) * 1.5;
  width: 100%;

  .tab-pane {
    display: none;

    &.active {
      display: block;
    }
  }

}
