.perfil {
  @include font-open-sans();
  background-color: map-get($colors, _grey);
  height: 100%;
  padding: map-get($sizes, gutter) * 3.75 map-get($sizes, gutter) * 1.5 0;

  header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .searchbox {
    display: inline-block;
    margin-left: map-get($sizes, gutter) * 1.5;
    width: map-get($sizes, gutter) * 30;
  }

  .perfil-details {
    float: left;
    font-size: 13px;
    padding-right: map-get($sizes, gutter) * 1.5;
    padding-top: map-get($sizes, gutter);
    width: 25%;

    h1 {
      @include font-size(20);
      @include font-open-sans();
      border-bottom: 1px solid map-get($colors, grey-border-1);
      font-weight: 400;
      margin: 0;
      margin-bottom: map-get($sizes, gutter);
      padding-bottom: map-get($sizes, gutter);
      padding-left: 0;
      padding-top: 0;
      width: 100%;
    }

    h3 {
      @include font-size(13);
      color: map-get($colors, grey-text-2);
      margin-bottom: map-get($sizes, gutter) * .35;
    }

    ul li {
      color: map-get($colors, grey-text-2);
      line-height: map-get($sizes, gutter);
      margin-bottom: map-get($sizes, gutter) * .75;

      label {
        display: inline-block;
        width: 100%;

        &.title {
          color: map-get($colors, grey-text-1);
        }

      }
    }
  }

  .perfil-tabs {
    background-color: map-get($colors, _white);
    display: inline-block;
    width: 75%;

    .perfil-tabs--content {

    }
  }
}
