<li>
  <%=
    link_to go_path(result.slug),
            class: 'search-result',
            data: {
              turbolinks: false
            } do
  %>
    <div class="result-title">
      <%= result.title %>
    </div>
    <div class="result-details">
      <%= result.details %>
    </div>
    <div class="result-title">
      <%= result.url %>
    </div>
  <% end %>
</li>
