<% if @query.present? %>
  <div class="results">
    <% if @results.empty? %>
      <div class="no-results">
        <%= t('.no_results') %>
      </div>
    <% else %>
      <ul>
        <% @results.each do |result| %>
          <%= render 'result', result: result %>
        <% end %>
      </ul>
    <% end %>
  </div>
<% else %>
  <div class="welcome">

  </div>
<% end %>
