@import "variables";

.field {
  padding: 5px 0;

  label {
    display: block;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
  }
}
.field_with_errors {
  label {
    color: $color-background-alert;
  }
}
.action {
  padding: 5px 0;
}
.errors {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  color: $color-background-alert;
}

[type="text"],
[type="number"],
[type="email"],
[type="url"],
[type="password"] {
  @include field;

  min-width: 300px;
}
select {
  @include field;

  height: 30px;
}
textarea {
  @include field;

  min-width: 400px;
}
[type="submit"],
[type="button"] {
  @include button;
}
