@import "variables";

.field {
  padding: 5px 0;

  label {
    display: block;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
  }

  .option {
    padding: 5px;

    label {
      display: inline-block;
      font-weight: normal;
      margin-left: 10px;
      font-size: 14px;
    }
  }
}
.field_with_errors {
  label {
    color: $color-background-alert;
  }
}
.action {
  margin-top: 20px;
  padding: 5px 0;
}
.errors {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  color: $color-background-alert;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"] {
  @include field;

  min-width: 300px;
}
[type="number"] {
  @include field;

  min-width: 100px;
}
select {
  @include field;

  height: 30px;
}
textarea {
  @include field;

  min-width: 400px;

  &.wide {
    min-width: 90%;
  }
}
[type="submit"],
[type="button"] {
  @include button;
}
