@import 'variables';

body {
  font-family: $font-family-base;
  background-color: $color-background-body;
}
.header {
  background-color: white;
  position: relative;
}
.brand {
  margin: 10px;
  display: inline-block;
  font-size: 24px;
  line-height: $length-vertical-unit;
}
.tabs {
  position: absolute;
  top: 0;
  right: 0;
}
.tab {
  float: left;
  display: block;
  padding: 10px;
  margin: 0 10px;
  line-height: 40px;

  &.active {
    font-weight: bold;
  }
}
.right {
  float: right;
}
.hidden {
  display: none !important;
}
.content-section {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;

  h1 {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  form {
    margin-bottom: 20px;
  }

  &.narrow {
    max-width: 400px;
  }

  &.wide {
    max-width: 800px;
  }
}
.add-fields {
  font-size: 12px;
  line-height: 20px;
  display: block;
  font-weight: bold;
  padding: 10px 0;
  text-decoration: underline;
}
.toolbar {
  float: right;

  a {
    @include button;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 12px;
  line-height: 20px;
  font-family: monospace;

  a {
    color: $color-border-input;
  }
}
.item {
  padding: 5px 0;
}
.item-title {
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;

  a {
    text-decoration: underline;
  }
}
.item-label {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}
.item-info {
  font-size: 16px;
  line-height: 20px;
}
.item-description {
  font-size: 13px;
  line-height: 20px;
}
.item-extra {
  color: $color-font-light;
  font-size: 11px;
  line-height: 20px;
}
.legend {
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}
.question-options {
  width: 100%;
  border-collapse: collapse;

  tr {
    padding: 10px 0;
    border-top: 1px solid $color-border-input;
  }

  td {
    padding: 0;
    vertical-align: top;
    width: 80%;

    &:last-child {
      width: 20%;
      text-align: right;
    }
  }
}
.flash-message {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  font-color: white;
  line-height: 20px;
  color: white;

  &.alert {
    background-color: $color-background-alert;
  }

  &.notice {
    background-color: $color-background-notice;
  }
}
