$font-family-base: -apple-system, 'Helvetica Neue', Arial, sans-serif;
$length-vertical-unit: 40px;
$color-background-body: #e8e8e8;
$color-background-input: #eee;
$color-background-button: #222;
$color-border-input: #ccc;
$color-font-light: #999;
$color-background-alert: rgb(180, 11, 7);
$color-background-notice: rgb(60, 118, 61);
