<li class="item">
  <div class="item-title">
    <%= link_to_material(item) %>
  </div>
  <div class="item-description">
    <%= item.description %>
  </div>
  <div class="item-extra">
    <%= item.url %>
  </div>
</li>
